:root {
    --color-sucess: #28a745;
    --color-warning: #ffc107;
    --color-error: #dc3545;
}

main {
    text-align: center;
}

.mensaje.sucess {
    background-color: var(--color-sucess);
}

.mensaje.warning {
    background-color: var(--color-warning);
}

.mensaje.error {
    background-color: var(--color-error);
}
